<div class="row">
  <div class="col-xs-10">
    <h4><%= ff.index + 1 %>匹目</h4>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-10">
          <%= ff.collection_select :my_poke_id, my_pokes, :id, :name, {}, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>
</div>
