<h1>バトルレコード</h1>
<p>
<a href="/battles/new">
  バトルを記録する！
</a>
</p>

<a href="/battle/show">
バトルを振り返る！
</a>
<ul>
  <% @battles.reverse_each do |battle| %>
    <li>
    <%= link_to battle_sum(battle), battle %>
    </li>
  <% end %>
</ul>
</p>
