<div class="row">
  <div class="col-xs-12">
    <table class="table">
      <tr>
        <th></th>
        <% @my_pokes.each do |my_poke| %>
          <th><%= my_poke.name %></th>
        <% end %>
      </tr>
      <% @opp_names.each do |opp_name| %>
        <tr>
          <th><%= opp_name %></th>
          <% @my_pokes.each do |my_poke| %>
            <td><%= Eval.average_for_poke(my_poke.id, OppPoke.ids_by_name(opp_name), 3) %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
</div>
